<base href="/" />
<title>Reverse Quest</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="~/styles/bootstrap-flex.css"/>
<link rel="stylesheet" href="~/scss/font-awesome-4.7.0/css/font-awesome.min.css" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

<link rel="icon" href="~/angular/favicon.ico">

<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script src="https://code.jquery.com/jquery.min.js"></script>

<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
@*<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.material.min.css" rel="stylesheet" type="text/css" />*@
<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />
<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.all.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2016.3.1028/js/kendo.aspnetmvc.min.js"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
<link rel="stylesheet" href="~/scss/main.min.css" />
<link rel="stylesheet" href="~/Content/kendo.material.min.css" />


<link href="https://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.common-material.min.css" rel="stylesheet" type="text/css" />


@*<link rel="stylesheet" href="styles/kendo.common.min.css" />
<link rel="stylesheet" href="styles/kendo.default.min.css" />
<link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />*@

@*<script src="js/jquery.min.js"></script>
<script src="js/kendo.all.min.js"></script>*@



<!-- Polyfill(s) for older browsers -->
@*<script src="~/angular/node_modules/core-js/client/shim.min.js"></script>
<script src="~/angular/node_modules/zone.js/dist/zone.js"></script>
<script src="~/angular/node_modules/reflect-metadata/Reflect.js"></script>
<script src="~/angular/node_modules/systemjs/dist/system.src.js"></script>
<script src="~/angular/systemjs.config.js"></script>
<script src="~/angular/systemjs.config.extras.js"></script>*@

<!-- Declare Main Module -->
@*<script>
    System.import('app').catch(function (err) { console.error(err); });
</script>*@

<!-- Run Main Module -->
@*<app></app>*@
