@{
//if (ViewContext.RouteData.DataTokens["area"] != null && ViewContext.RouteData.DataTokens["area"].Equals("LoanModule"))
//{
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills" id="menu">
                @*<li>
                        <button data-toggle="collapse" id="menu-toggle-2">
                            <span class="fa fa-bars fa-lg" title="Home"></span>
                        </button>

                    </li>
                    <li>
                        <button type="button" data-toggle="collapse" id="menu-toggle">
                            <span class="fa fa-bars fa-lg" title="Home"></span>
                        </button>
                    </li>*@
                <li class="navMenu">
                    <a href="/"><span class="fa fa-home fa-lg" title="Home"></span>&nbsp;Home</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-tachometer fa-lg"></span>&nbsp;Bankruptcy</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-tags fa-lg"></span>&nbsp;Claims</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-gavel fa-lg"></span>Compliance&nbsp;</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-money fa-lg"></span>&nbsp;Disbursement</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-tachometer fa-lg"></span>&nbsp;Foreclosure</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-university fa-lg"></span>&nbsp;HMBS</a>
                </li>
                <li class="navMenu">
                    <a href="#"><span class="fa fa-cloud-upload fa-lg"></span>&nbsp;Import</a>
                </li>
                <li class="navMenu">
                    <a href="/Search"><span class="fa fa-tachometer fa-lg" title="Loan"></span>&nbsp;Loan</a>
                </li>
            </ul>
        </div>
        //}
        //else
        //{

        //}
}


<script>
    //$("#menu-toggle").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled");
    //});
    //$("#menu-toggle-2").click(function (e) {
    //    e.preventDefault();
    //    $("#wrapper").toggleClass("toggled-2");
    //    $('#menu ul').hide();
    //});

    //function initMenu() {
    //    $('#menu ul').hide();
    //    $('#menu ul').children('.current').parent().show();
    //    //$('#menu ul:first').show();
    //    $('#menu li a').click(
    //      function () {
    //          var checkElement = $(this).next();
    //          if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
    //              return false;
    //          }
    //      }
    //      );
    //}
    //$(document).ready(function () { initMenu(); $("#menu-toggle-2").click(); });
</script>
