<div class="messages">
    <div ng-message="required">Field required</div>
    <div ng-message="min">Need a value</div>
    <div ng-message="max">Field limit reached</div>
    <div ng-message="minlength">Need a value</div>
    <div ng-message="maxlength">Field limit reached</div>
    <div ng-message="pattern">Invalid format</div>
    <div ng-message="valid">Invalid field</div>
    <div ng-message="mindate">Date is too early!</div>
    <div ng-message="maxdate">Date is too late!</div>
    <div ng-message="md-maxlength">Field character's limit reached.</div>
</div>