<div id="divLoanStatus">
    <div id="windowLoanStatus" style="display:none"></div>

    <span id="btnLoanStatus" class="k-button hidden-on-narrow">Loan Status</span>

    <div class="responsive-message"></div>

    <script>
                $("#btnLoanStatus").click(function () {
                    $("#windowLoanStatus").data("kendoWindow").open();
                });

                $(document).ready(function() {
                    $("#windowLoanStatus").kendoWindow({
                        visible: false,
                        
                        width: "630px",
                        height: "315px",
                        title: "Select Loan Satus",
                        actions: ["Close"],
                        content: "/html/LoanStatusMultiSelect.html"                       
                   }).data("kendoWindow");
                });
    </script>
</div>