$brand-black: #171717;
$brand-white: #ffffff;
$brand-primary: #0078D7;
$brand-success: #00D708;

$typography-black: rgba(0, 0, 0, 0.84);

$brand-white-70: rgba(255,255,255, 0.70);
$brand-white-54: rgba(255,255,255, 0.54);
$brand-white-34: rgba(255,255,255, 0.34);
