<!-- sidebar: style can be found in sidebar-->
<section class="sidebar">

        <div id="menu" role="navigation">
            <div class="nav_profile">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img src="img/authors/avatar1.jpg" class="img-circle" alt="User Image">
                    </a>
                    <div class="content-profile">
                        <h4 class="media-heading">Nataliapery</h4>
                        <ul class="icon-list">
                            <li>
                                <a href="users.html">
                                    <i class="fa fa-fw fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="lockscreen.html">
                                    <i class="fa fa-fw fa-lock"></i>
                                </a>
                            </li>
                            <li>
                                <a href="edit_user.html">
                                    <i class="fa fa-fw fa-gear"></i>
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-fw fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="navigation">
                <li ui-sref-active="active">
                    <a ui-sref="dashboard">
                        <i class="menu-icon fa fa-fw fa-dashboard"></i>
                        <span class="mm-text">Dashboard</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="loan.search">
                        <i class="menu-icon fa fa-fw fa-home"></i>
                        <span class="mm-text">Loan</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="accounting.search">
                        <i class="menu-icon fa fa-fw fa-dollar"></i>
                        <span class="mm-text">Accounting</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="compliance.search">
                        <i class="menu-icon fa fa-fw fa-check-square-o"></i>
                        <span class="mm-text">Compliance</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="default.search">
                        <i class="menu-icon fa fa-fw fa-exclamation-triangle"></i>
                        <span class="mm-text">Default</span>
                    </a>
                </li>


                <li ui-sref-active="active">
                    <a ui-sref="foreclosure.search">
                        <i class="menu-icon fa fa-fw fa-exclamation-triangle"></i>
                        <span class="mm-text">Foreclosure</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="bankruptcy.search">
                        <i class="menu-icon fa fa-fw fa-bank"></i>
                        <span class="mm-text">Bankruputcy</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="claims.search">
                        <i class="menu-icon fa fa-fw fa-folder-open"></i>
                        <span class="mm-text">Claims</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="reo.search">
                        <i class="menu-icon fa fa-fw fa-key"></i>
                        <span class="mm-text">REO</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="servicing.search">
                        <i class="menu-icon fa fa-fw fa-clipboard"></i>
                        <span class="mm-text">Servicing</span>
                    </a>
                </li>


                <li ui-sref-active="active">
                    <a ui-sref="import-export">
                        <i class="menu-icon fa fa-fw fa-exchange"></i>
                        <span class="mm-text">Import/Export</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="hmbs.search">
                        <i class="menu-icon fa fa-fw fa-clipboard"></i>
                        <span class="mm-text">HMBS</span>
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="reports.search">
                        <i class="menu-icon fa fa-fw fa-clipboard"></i>
                        <span class="mm-text">Reports</span>
                    </a>
                </li>


            </ul>
            <!-- / .navigation -->
        </div>
        <!-- menu -->

</section>
<!-- /.sidebar -->