<!DOCTYPE html>
<html ng-app="reverseQuestApp" ng-controller="MainController as vm">
<head>
    @Html.Partial("_Header")
</head>
<body class="skin-coreplus nav-fixed">

    <!---------------------------------------------------------------------------------------------------------->
    <!-------------------------------------Container Section---------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------->
    @RenderBody()
    <!---------------------------------------------------------------------------------------------------------->
    <!-------------------------------------Container Section End------------------------------------------------>
    <!---------------------------------------------------------------------------------------------------------->
</body>
</html>
